@media screen and (max-width:576px) {
    /* nav bar responsive style here */
.nav-manu > ul{
    display: none;
}
.bars{
    display: block;
}
/* banner section start*/
.banner-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-taitel {
    font-size: 3rem;
}
.banner-content {
    width: 100%;
    margin: 20px auto;
    
}

#glass-card-1{
    position: absolute;
    top: 50px;
    right: -50px;
    
}
#glass-card-2{
    position: absolute;
    left: -55px;
    top: 250px;
}
/* banner section end*/

/* Change Your Habits section start */
.habit-carts{
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;  
}
.habit-cart{
    height: auto;
}
.section-contant > h2{
    font-size: 2rem;
    
}
.section-contant > p{
   
   margin: 10px auto;
}
/* Change Your Habits section end */
/* Run an Extra Mile Easily section style start here */
.run-section {
    flex-direction: column;
   text-align: center;
   width: 90%;
   margin: 0 auto;
}
.run-section > .section-contant  {
    width: 90%;
    margin: 31px auto;
    text-align: left;
}
.run-section > .section-contant > div {
    width: 80%;
    margin: 31px auto;
    text-align: center;
}
.run-section > .section-contant > div > button {
    width: 100%;
}
.run-img {
    width: 366px;
    height: 370px;
    overflow: hidden;
    border-radius: 18px;
}
.run-img>img {
    margin: -210px 0px 0px -800px;
}

/* Run an Extra Mile Easily section style end here */
.img-gallery{
    grid-template-columns: repeat(12, 1fr); 
}
#img-1 ,
 #img-3,
  #img-5{
    grid-column: 1 / span 6 ;
    height: 250px;
    
    
}
#img-2,
 #img-4, 
 #img-6{
    grid-column: 7 / span 6;
    height: 250px;
    
}
/* Trainings and Exercises section end here */
}
