/* font-family: 'Inter', sans-serif; */
/* font-family: 'Miama', sans-serif; */
/* miama font link  */
@import url('https://fonts.cdnfonts.com/css/miama');
/* inter font link */
@import url('https://fonts.cdnfonts.com/css/inter');

:root {
    --primaryFont: 'Inter', sans-serif;
    --secondaryFont: 'Miama', sans-serif;
    --bgPrimaryColor: rgb(0, 0, 0);
    --bgSecondaryColor: rgb(34, 34, 34);
    --brandColor: rgb(230, 83, 60);
    --primaryFontColor: rgb(255, 255, 255);
    --primaryFontColorWithOpacity: rgba(255, 255, 255, 0.5);

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--bgPrimaryColor);
    font-family: 'Inter', sans-serif;
    color: var(--primaryFontColor);

}

section {
    margin: 100px auto;
}

/* all description common color */
p {
    color: var(--primaryFontColorWithOpacity);
   
}

/* button style */
.btn {
    font-size: 1.25rem;
    padding: 16px 40px;
    border-radius: 42px;
    color: var(--primaryFontColor);
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.primary {
    background-color: var(--brandColor);
}

/* nav bar style start here  */
header {
    margin: 50px;
}

nav,
.nav-manu>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.9rem;
}

.brand-name {
    color: var(--brandColor);
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}

.nav-manu>ul {
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px 8px;

}

.nav-manu>ul>li>a {
    color: var(--primaryFontColor);
    font-size: 1.25;
}

.bars {
    color: var(--primaryFontColor);
    display: none;
    font-size: 1.5rem;
}

.nav-manu>ul>li:nth-child(1) {
    background-color: var(--brandColor);
    padding: 8px 20px;
    border-radius: 46px;
    color: var(--primaryFontColor);
}

/* nav bar style end here  */

/* banner section style start here */
.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto 100px;
}

.banner-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 14px;
}
.banner-content p{
    width: 80%;
}
.banner-taitel {
    font-size: 4.8rem;
    font-weight: 900;
}

span {
    font-family: var(--secondaryFont);
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
}

.banner-img {
    background-image: url("../images/Images\ 2.png");
    background-repeat: no-repeat;
    width: 349px;
    height: 580px;
    position: relative;
    margin: 0 auto;
    /* margin: 20px auto; */
}



.glass-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--brandColor);
}

.count {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--primaryFontColor);
}

.video-count {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--primaryFontColor);

}

.glass-description {
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.65);
}

#glass-card-1 {
    position: absolute;
    top: 130px;
    right: -90px;
}

#glass-card-2 {
    position: absolute;
    left: -120px;
    bottom: 60px;
}

.secondary {
    background-color: transparent;
    border: 1px solid var(--primaryFontColor);
}

/* banner section style end here */

/* Change Your Habits style start here */
.habit-section {
    text-align: center;
    margin-bottom: 150px;
}

.section-contant>h2 {
    font-size: 3rem;
    font-weight: 900;
}

.section-contant>p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 12px auto;

}

.habit-carts {
    margin: 78px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.habit-cart {
    width: 331px;
    height: 274px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.habit-card-img {
    width: 250px;
    height: 250px;
    margin: 0 auto 25px;



}

.habit-card-img>img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 50%;

}

.habit-cart>h4 {
    font-size: 1.2rem;
    font-weight: 600;
}
.habit-section .section-contant p{
    width: 50%;
}
/* Change Your Habits style end here */
.habit-cart>  {
    font-size: 0.9rem;
    font-weight: 400;
}

/* Change Your Habits style end here */

/* Run an Extra Mile Easily section style start here */
.run-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 32px;
    border-radius: 18px;
    background: rgb(34, 34, 34);

}

.run-img {
    width: 366px;
    height: 370px;
    overflow: hidden;
    border-radius: 18px;
}

.run-img>img {
    margin: -210px 0px 0px -800px;
}

/* Run an Extra Mile Easily section style end here */

/* Trainings and Exercises section start here  */
.img-gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 58px;
}

.galry-img {
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.galry-img {
    position: relative;

}

#img-1 {
    grid-column: 1 / span 3;
    background-image: linear-gradient(to right, rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)), url('../images/exercise1.jpg');
}

#img-2 {
    grid-column: 4 / span 5;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url('../images/exercise2.png');

}

#img-3 {
    grid-column: 9 / span 4;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/exercise3.png');
}

#img-4 {
    grid-column: 1 / span 4;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/exercise4.png');
}

#img-5 {
    grid-column: 5 / span 3;
    background-image: linear-gradient(to right, rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)), url('../images/exercise5.jpg');
}

#img-6 {
    grid-column: 8 / span 5;
    background-image: linear-gradient(to right, rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)), url('../images/exercise6.jpg');
}

#img-1>p {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

#img-2>p {
    position: absolute;
    top: 15px;
    left: 15px;
}

#img-3>p {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

#img-4>p {
    position: absolute;
    top: 15px;
    right: 15px;
}

#img-5>p {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

#img-6>p {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

/* Trainings and Exercises section end here */
/* BMI Calculator section style start here */
/* table */
.calculator-section> .div {
   width: 50%;
    margin: 88px auto;
}
.chart-bmi {
    background-color: var(--bgSecondaryColor);
    /* height: 487px; */

    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 80px;
}

caption {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
    text-align: left;
}

th {
    color: var(--primaryFontColor);
}

td {
    color: var(--primaryFontColorWithOpacity);
}

th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 15px;
}

/* form */
.form>.form-contant>h2 {
    font-size: 1.75rem;
    font-weight: 900;
}

.form>.form-contant>p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 5px auto 34px;
}

form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;

}

#in-1,
#in-3 {
    grid-column: 1/ span 2;
}

#in-2,
#in-4 {
    grid-column: 3/ span 2;
}

#in-5 {
    grid-column: 1/ span 4;
}

.form input,
select {
    border-radius: 8px;
    height: 48px;
    padding: 5px 20px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
    margin: 5px;
}

option {
    color: black;
}

.btn-submit>input {
    font-size: 1.25rem;
    padding: 16px 50px;
    border-radius: 42px;
    color: var(--primaryFontColor);
    border: none;
    margin-right: 10px;
    background-color: var(--brandColor);
    display: block;
    cursor: pointer;
}

.primary {
    background-color: var(--brandColor);
}

/* BMI Calculator section style end here */

/* Meet Our Team style start here */
.team-section>.section-contant {
    text-align: center;
    margin: 88px auto;
}
.team{
    background-color: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 80%;
    margin: 0 auto;
    border-radius: 18px;
    padding: 20px;
}
.team-img {
    position: relative;
    width: 350px;
    height: 302px;
    margin: 0 auto;
}
.team-img >img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    opacity: 0.8;
    
    
}
.name{
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.name > h5{
    font-size: 1.25rem;
    width: 500;
}
.name > p {
    font-size: 1rem;
    width: 400;
   
}

/* Meet Our Team style end here */
/* CHOOSE YOUR PLAN style start here */
.arow{
    font-size: 2rem;
   color:  rgba(255, 255, 255, 0.315);
}
.plan{
    position: relative;
}
.arow {
    /* animation properties */
    animation-name: my-animation;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    /* other properties */
    width: 300px;
    height: 100px;
    border-radius: 10px;
    position: absolute;
     right:40%;
  }
  
  @keyframes my-animation {
    from {
      top: -80px;
    }
    to {
      top: -25px;
    }
  }
.plan > .section-contant{
    text-align: center;
}
.plan-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    margin-top: 80px;
}
.plan > .section-contant > .y-axis-line{
    height: 50px;
    border-right: 3px solid rgba(255, 255, 255, 0.315);
    margin: 0 auto;
    width: 10px;
}
.plan-card{
    background: rgba(255, 255, 255, 0.155);
    border-radius: 16px;
    padding: 20px;
    width: 400px;
    text-align: center;
}
.plan-card:hover{
    border: 1px solid rgba(255, 255, 255, 0.464);
    transition-delay: 0.300s;
    
}
.plan-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}
.plan-content > h3{
 font-size: 1.5rem;
}
.price >  h5{
 font-size: 1.5rem;
}
.price > p{
 font-size: 1.2rem;
}
.price{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.x-axis-line{
    border-bottom: 1px solid rgba(255, 255, 255, 0.315);
    width: 40%;
    margin: 0px auto;
}
.plan-card-img{
    width: 350px;
    margin-bottom: 30px;
}
.plan-card-img > img {
    width: 100%;
    border-radius: 8px;
}
.includes{
    font-size: 1rem;
    font-weight: 400;
    
}

#most-opular{
    height: 650px;
    position: relative;
}
#most-opular> p{
    position: absolute;
   background-color:rgba(255, 255, 255, 0.174);
   width: 30%;
   border-radius: 8px;
   padding: 5px;
   right: -40px;
   top: 10px;
}
/* CHOOSE YOUR PLAN style end here */
/* footer section style start here  */
footer{
    background: rgba(255, 255, 255, 0.1);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-content: space-evenly;
    gap: 40px;
    margin: 0 a ;
    width: 80%;
}
.brand-logo > .brand-name > h4{
   font-size: 4rem;
}
.brand-logo > .brand-name > p{
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 20px;
    
}
footer a{
    color: var(--primaryFontColorWithOpacity);
    font-size: 1.5rem;
   
}
footer h5{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
footer p{
    
    margin-bottom: 15px;
}
.hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    margin: 80px auto 36px;
}
/* footer section style end here  */
